
@model ERP.Core.Models.TicketingManagement.Denomination

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .tdseperater {
        padding: 3px;
        background: #2fee48;
    }
</style>
<div class="row">

    sdfghjkkhfdfgggggggggggggggggggggg

</div>

<script type="text/javascript">

    $(document).ready(function () {
        //$('#date').val(new Date().toDateInputValue());
    });
   

</script>


