@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="menu-icon-area">
    <div class="row no-gutters menu-grid-area">
        <a href="#">
            <span class="icon-block-areaa text-center">
                <i class="ti-home "></i>
            </span>
            <div class="text-center">
                Maintenance Type
            </div>
        </a>
        <a href="#">
            <span class="icon-block-areaa text-center">
                <i class="ti-home "></i>
            </span>
            <div class="text-center">
                Province
            </div>
        </a>
        <a href="#">
            <span class="icon-block-areaa text-center">
                <i class="ti-home "></i>
            </span>
            <div class="text-center">
                Hello
            </div>
        </a>
        <a href="#">
            <span class="icon-block-areaa text-center">
                <i class="ti-home "></i>
            </span>
            <div class="text-center">
                Hello
            </div>
        </a>
        <a href="#">
            <span class="icon-block-areaa text-center">
                <i class="ti-home "></i>
            </span>
            <div class="text-center">
                Hello
            </div>
        </a>
        <a href="#">
            <span class="icon-block-areaa text-center">
                <i class="ti-home "></i>
            </span>
            <div class="text-center">
                Hello
            </div>
        </a>
        <a href="#">
            <span class="icon-block-areaa text-center">
                <i class="ti-home "></i>
            </span>
            <div class="text-center">
                Hello
            </div>
        </a>

        <a href="#">
            <span class="icon-block-areaa text-center">
                <i class="ti-home "></i>
            </span>
            <div class="text-center">
                Hello
            </div>
        </a>





    </div>


</div>
<style>
    .menu-icon-area a {
        padding: 10px;
        margin-bottom: -1px;
        color: #2e5a8a;
        box-shadow: 0 0px 4px #cecece;
    }
    .icon-block-areaa.text-center {
        float: left;
        width: 100%;
        font-size: 36px;
    }
    .menu-icon-area a:hover {
        background: #2e5a8a;
        color: white;
    }
    .menu-grid-area {
        display: grid;
        grid-template-columns: repeat(7, 13.48%);
        font-size: 12px;
        grid-gap: 10px;
    }
</style>